body {
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #007bff;
}
p {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  line-height: 2.5; /* Define o espaçamento entre as linhas como 1.5 vezes a altura normal da linha */
}

.msg p {
  margin: 10px 0;
}

.msg p span {
  font-weight: bold;
}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
